{{> header}}

<h2>Welcome to the ideas page!</h2>
{{#each ideaList.ideas }}
	<div class="Idea">
		<h3>{{this.title}}</h3>
		<p>{{this.category}}</p>
		<p>{{this.text}}</p>
		<a href="/ideas/{{this._id}}">view idea</a>
		<form action="/ideas/{{this._id}}/?_method=DELETE" method="POST">
			<button>Delete</button>
		</form>
	</div>
{{/each}}

{{> footer}}