{{> header}}
<link rel="stylesheet" type="text/css" href="/css/single.css">
{{> navbar}}

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
		<h2 class="text-center panel-title">{{ideaObj.title}}</h2>
		</div>
		<div class="panel-body">
			<p class="text-left category">{{ideaObj.category}}</p>
			<p class="text-left text">{{ideaObj.text}}</p>
			<a class="btn btn-default pull-left" href="/ideas/{{ideaObj._id}}/edit"><span class="hidden-xs">Edit idea</span> <i class="fa fa-pencil" aria-hidden="true"></i></a>
			<form action="/ideas/{{ideaObj._id}}/?_method=DELETE" method="POST">
				<button class="btn btn-danger pull-right"><span class="hidden-xs">Delete</span> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
			</form>
		</div>

	</div>
</div>

{{> footer}}