{{> header}}

<h2>This is a single idea.</h2>
<div>
	<h3>{{ideaObj.title}}</h3>
	<p>{{ideaObj.category}}</p>
	<p>{{ideaObj.text}}</p>
	<p><a href="/ideas/{{ideaObj._id}}/edit">Edit idea</a></p>
	<form action="/ideas/{{ideaObj._id}}/?_method=DELETE" method="POST">
		<button>Delete</button>
	</form>

</div>

{{> footer}}